/* Provide sufficient contrast against white background
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* Restore bullets for unordered lists */
html {
    font-size: 16px;
}
ul {
    list-style: disc !important;
}

ol {
    list-style: decimal !important;
}

.content {
    margin-top: 64px;
    padding: 1rem;
    /* height: calc(100% - 64px);
    height: calc(-webkit-fill-available - 64px);
    overflow-y: auto; */
}
body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

table .text-sm {
    font-size: 17px;
}
